<script type='text/ng-template'id="view/menu.html" >

    <a ui-sref="css3_1">css3 效果1</a>
    <a ui-sref="html5Load1">html5Load1</a>
</script>



<script type='text/ng-template'id="view/css3_1.html" >
   <pre style="font-weight: bold;font-size: 15px;color: #999">


杜鹏晖
3-4年工作经验 | 男 | 25岁(1989年2月4日)
居住地： 上海-浦东新区
电　话： 18626202684（手机）
E-mail：break_happy@163.com
主　页： http://www.cnblogs.com/breakdown/
最近工作  [ 9个月]
公　司： 数云信息技术
行　业： 计算机软件
职　位： js 开发


自我评价
前端技术博客:http://www.cnblogs.com/breakdown/
GitHub : https://github.com/breakfriday
掌握backbone，angularJS两类前端MVC框架，独立架构复杂前端项目经验
掌握前端技术seajs，requirejs,jquery库，以及less.js.
js面向对象的编程与模块化开发.
掌握JavaScript语言核心技术DOM、BOM、Ajax、JSON；
目前换工作考虑 技术方案有基于node-webkit , d3.js的项目最好

求职意向
到岗时间：  一个月内
工作性质：  全职
希望行业：  互联网/电子商务
期望月薪：  15000-19999/月
目标职能：  脚本开发工程师，互联网软件开发工程师

工作经验

2014 /4--至今：数云信息技术（150-500人） [ 9个月]
所属行业： 计算机软件
前端 js 开发
工作职责核心项目，数据赢家crm 。
使用前端框架 angular 基于 mvc 开发
重构了老项目，实现了requirejs + angular的解决方案，做到模块化开发，独立完成。
实现基于requrejs的项目打包方案，分预加载 按需加载两部分，独立完成
nodejs 做前端开发环境
数据赢家简介：http://www.shuyun.com/products/productdemonstration/

2013 /3--2014 /4：新融联（50-150人） [ 1年1个月]
所属行业： 互联网/电子商务
js前端开发 软件工程师
平安科技外包，
项目：pad端本地混合应用， single-page application 移动端html5 app的开发。
负责移动端Web前端架构
基于backbone.js requirejs组成前端项目框架，mvc开发 ， backbone添加控制器逻辑

2012 /12--2013 /3：虎扑（50-150人） [ 3个月]
所属行业： 网络游戏
手游 js开发
web+native混合js卡牌手游开发
android 平台个屏幕分辨率的适配，css有响应式页面开发

2011 /9--2012 /12：游戏蜗牛 [ 1年3个月]
所属行业： 互联网/电子商务
前端 js开发工程师
pc端前端开发，ajax接口js前端渲染页面
使用 underscore，seajs，jquery做js模块化开发。
根据psd效果图，项目原型，切图独立完成页面制作，页面重构和布局
解决页面在ie 、Chrome、火狐、各浏览器版本中显示的兼容性；
两个官方网站的前端开发
一个sns平台网站的开发维护
http://mow.playsnail.com/ （前端页面重构 js 独立完成）
http://aow.playsnail.com/ （前端页面重构 js 独立完成）
http://game.playsnail.com/
http://www.playsnail.com/ （项目参与）

2011 /4--2011 /9：锐意企创（50-150人） [ 5个月]
所属行业： 计算机软件
前端 前端
前端开发，使用prestashop的开源系统，进行商城网站的制作。两个商城网站前端页面制作
教育经历



​
   </pre>
</script>



<script type='text/ng-template'id="view/html5Loading1.html" >
    <div ng-controller="html5Load1Ctrl" style="height: 250px;position: relative">


    </div>
</script>